#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* background-image: url(https://s3.mashiro.top/view/2018/01/03/sakura.png); */
    /* margin-top: 60px; */
}


/* 布局样式 start */

.n-layout-header,
.n-layout-footer {
    background: rgba(128, 128, 128, 0.2);
    padding: 10px;
}

.n-layout-header {
    position: fixed;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 40px -8px rgb(0 0 0 / 50%);
    z-index: 1;
}

.n-layout-sider {
    background: rgba(128, 128, 128, 0.3);
}

.n-layout-content {
    /* background: #eaeaea; */
    background-image: url("/img/plaid2dbf8.jpg");
    margin-top: 62px;
}


/* 布局样式 end*/


/* 轮播图 */

.carousel-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.n-carousel {
    border-radius: 10px;
}


/* 卡片 */

.n-card {
    max-width: 100%;
    max-height: 100%;
    padding: 0 5% 0 5;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* height: 300px; */
}


/* 卡片整体样式 */

.cardStyle {
    max-width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
    border-radius: 10px;
    overflow: hidden;
}


/* 卡片整体样式鼠标悬浮样式 */

.cardStyle:hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* filter: blur(20px); */
}


/* 卡片标题样式 */

.n-card>.n-card-header {
    width: 60%;
    text-align: center;
    font-size: 28px;
}


/* 卡片内容样式 */

.n-card>.n-card__content {
    text-align: left;
    width: 60%;
    font-size: 16px;
}


/* 渐变文字 */

.n-gradient-text {
    font-weight: 600;
    height: 100%;
}


/* 动作样式 */

.n-card>.n-card__action {
    background-color: #fff;
    width: 60%;
}


/* 图标右边的文本 */

.iconText {
    font-size: 14px;
    margin-left: 8px;
}

.iconTextDivLeft {
    /* width: 15%;
    display: block;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    float: left; */
    width: 60%;
    text-align: left;
}

.iconTextDivRight {
    width: 40%;
}

.iconTextDivLeft,
.iconTextDivRight {
    display: inline-block;
}

.n-icon {
    color: rgb(0, 0, 0);
    vertical-align: -3px;
}


/* 卡片内容的渐变文字样式 （弃用）*/


/* .c-gradient-text {
  white-space: unset;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
} */


/* font {
    color: rgb(0, 0, 0);
} */


/* .iconTimeText {
    width: 40%;
    float: right;
} */


/* 卡片内容骨架样式 */

.text-Skeleton {
    text-align: left;
    width: 100%;
}


/* 卡片图片骨架样式 */

.imgSkeleton {
    position: absolute;
    left: 59%;
    height: 100%;
    width: 63%;
    bottom: 0%;
    display: block;
    overflow: hidden;
    /* z-index: -1; */
    border-radius: 0 10px 10px 0;
}

.imgSkeleton>img {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    object-fit: fill;
    /* 移出图片缩小 */
    transition: all 0.6s ease;
    border-radius: 0 10px 10px 0;
}


/* 悬浮卡片放大 */

.n-card:hover img {
    transform: scale(1.2, 1.2);
    transition: all 0.6s ease;
    border-radius: 0 10px 10px 0;
    /* 透明度 值降低可以增加透明度 使其能够隐约显示父容器的背景色 */
    opacity: 0.8;
}


/* 布局面板样式 */

#refLeft,
#refCenter,
#refRigth {
    /* background-image: url(https://s3.mashiro.top/view/2018/01/03/sakura.png); */
    padding: 0 2% 0 2%;
}


/* 回到顶部样式 */

.n-back-top,
.n-back-top:hover {
    box-shadow: unset;
    background-color: unset;
    animation: backTtop 2s linear infinite;
    animation-direction: alternate;
    /* Safari and Chrome */
    -webkit-animation: backTtop 2s linear infinite;
    -webkit-animation-direction: alternate;
}


/* 置顶动画 start*/

@keyframes backTtop {
    0% {
        top: 0px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 18px;
    }
    100% {
        top: 20px;
    }
}

@-webkit-keyframes backTtop
/*Safari and Chrome*/

{
    0% {
        top: 0px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 18px;
    }
    100% {
        top: 20px;
    }
}


/* 置顶动画 end*/